PORT=3000

MONGO_URI=mongodb+srv://taskmanager_db:newmexico%4040@cluster0.ue0rdke.mongodb.net/taskmanager_db?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=newmexico40

VITE_API_URL=http://localhost:3000/api